header{
    border-bottom: 2px solid #cecece;
}
.intext{
    width: 1000px;
    height: 70px;
    margin: 0px auto;
    overflow: hidden;
    line-height: 70px;
    position: relative;
}
header>div>div:nth-child(1){
    display: inline-block;
    padding-top: 7px;
}
header img{
    height: 55px;
}
header ul{
    display: inline-block;
    position: absolute;
    top: 6px;
}
header ul li{
    display: inline-block;
    margin-left: 40px;
    font-weight: bolder;
}
header ul li:nth-child(1){
    margin-left: 61px;
}
header>div>div:last-child{
    display: inline-block;
    float: right;
}
header>div>div:last-child span:nth-child(1){
    display: inline-block;
    width: 24px;
    height: 50px;
    background: url("../img/ico/search.png") no-repeat 0px 23px;
    margin-right: 28px;
    transition: all .6s;
}
header>div>div:last-child span:nth-child(1):hover{
    transform: scale(1.2);
}
header>div>div:last-child span:nth-child(2){
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #f65340;
    border: 1px solid #f65340;
    position: relative;
    top: -9px;
    border-radius: 3px;
}
header>div>div:last-child span:nth-child(2):hover{
    background-color: #f65340;
    color: white;
    transition: all .6s;
}

.content-out{
    width: 100%;
    background-color: #f7f7f7;
    padding: 25px 0px 35px;
}
.content{
    width: 1000px;
    height: 780px;
    margin: 0px auto ;
    background-color: white;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
}
.content>h3{
    margin-top:22px ;
    font-size: 24px;
}
.content>h3 span{
    display: inline-block;
    width: 5px;
    height: 24px;
    background-color: #f65543;
    transform: translateY(3px);
}
.content>div:nth-child(2){
    width: 400px;
    margin: 120px auto;
}
.content>div form>input{
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
    margin-bottom: 25px;
    padding-left: 7px;
}
.content>div form>input:last-child{
    background-color: #fe5341;
    color: white;
}
.content>div>form>div{
    overflow: hidden;
}
.content>div>form>div input{
    width: 240px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
    margin-bottom: 25px;
    padding-left: 7px;
    float: left;
}
.content>div>form>div button{
    width: 126px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #a5a5a5;
    margin-bottom: 25px;
    background-color: white;
    float: right;
}
.content>div>form>div span{
    float: right;
    display: inline-block;
    width: 122px;
    height: 50px;
    background: url("../img/imgCode.jpg") no-repeat 0px 6px;
}

/*ã€footer*/
footer{
    width: 100%;
    background-color: #505050;
}
footer .infot{
    width: 1000px;
    margin: 0px auto;
    padding-top: 36px;
    overflow: hidden;
}
.infot h3{
    color: white;
}
.infot li a,.infot li{
    color: #9b9b9b;
}
.infot>div:nth-child(1) img{
    width: 180px;
}
.infot>div:nth-child(1){
    width: 180px;
    float: left;
}
.infot>div:nth-child(2){
    width: 132px;
    float: left;
    margin-left: 16px;
}
.infot>div:nth-child(2) p{
    width: 121px;
    height: 46px;
    background: url("../img/logoImg.jpg") no-repeat 0px 0px;
}
.infot>div:nth-child(3){
    width: 98px;
    float: left;
    margin-left: 19px;
}
.infot>div:nth-child(4){
    width: 180px;
    float: left;
    margin-left: 16px;
    overflow: hidden;
}
.infot>div:nth-child(4) ul{
    float: left;
}
.infot>div:nth-child(4) ul:nth-child(3){
    margin-left: 15px;
}
.infot>div:nth-child(5){
    width: 150px;
    float: left;
    margin-left: 16px;
}
.infot>div:nth-child(6){
    width: 176px;
    float: left;
    margin-left: 16px;
}
.infot ul{
    margin-top: 23px;
}
.infot ul li{
    line-height: 22px;
}
footer>div:last-child{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 10px;
    color: #9b9b9b; ;
}

header ul li a{
    color: #312634;
}
header ul li a:hover{
    color: #ff4e51;
    text-decoration: none;
}
header div span a{
    color: #ff4e51;
}
header div span a:hover{
    color: white;
    text-decoration: none;
}

form>span{
    position: relative;
    top: -10px;
}